body {
  padding-top: 50px;
  background-color: #44454f;
}

.title {
  background-color: rgba(255,255,255,0);
  color: #f1f1f1;
}

.title h1 {
  font-size: 2.8rem;
  font-weight: 100;
}

.langs {
  font-size: .8rem;
}

.btn-group-sm>.btn, .btn-sm {
  padding: 1rem 1rem;
  font-size: .8rem;
  line-height: 1.5;
  border-radius: .2rem;
}
