body {
  padding-top: 50px;
  background: url("https://i.imgur.com/ITetwl0.jpg");
  background-size: cover;
  background-position: center;
}

html {
  height: 100%;
}

i {
  padding-right: 8px;
}

#content {
  padding-top: 18%;
}

#content h1 {
  text-shadow: 5px 5px #000;
}

@media (max-width: 600px) {
  #content h1 {
    font-size: 3.2rem;
    text-shadow: 3px 3px #000;
  }

  #content {
    padding-top: 35%;
  }
}
