body {
  padding-top: 50px;
  background: url("../imgs/bg.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Amatic SC";
}

html {
  height: 100%;
}

#me {
  width: 200px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px 0 #333;
}

#content {
  color: white;
  text-shadow: 2px 2px #333;
}
