body {
  padding-top: 50px;
  background: url("../imgs/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Amatic SC";
  user-select: none;
}

html {
  height: 100%;
}

#content {
  padding-top: 18%;
}

#content h1 {
  text-shadow: 5px 5px #000;
  margin-bottom: 0;
}

#content .lead {
  font-size: 1.5rem;
  text-shadow: 1px 1px #333;
}

@media (max-width: 600px) {
  #content h1 {
    font-size: 3.2rem;
    text-shadow: 3px 3px #000;
  }


  #content {
    padding-top: 35%;
  }
}
