body {
  padding-top: 50px;
  background: url("../imgs/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Questrial";
  user-select: none;
}

html {
  height: 100%;
}

.title {
  color: #fff;
  font-family: "Amatic SC";
  font-size: 2.8rem;
  text-shadow: 2px 2px #000;
}

.langs {
  font-size: .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-word;
}

p {
  height: 75px;
}

.card {
  border:none;
}

.card-title {
  font-weight: bold;
}

.card-footer {
  height: 55px;
  background-color: rgba(0,0,0,.02);
  border-top: none;
}
